extends layout

block content
	nav.navbar.navbar-default(role='navigation')
		div.navbar-header
			span.navbar-brand Project Blackhawk
		ul.nav.navbar-nav
			li
				a(href="/home") Presentations
			li
				a(href="/whiteboard", target="_blank") WhiteBoard
			li
				a(href="/settings") Settings
			li
				a(href="/logout") Logout
	.panel.panel-default
		.panel-heading(style="padding-bottom:15px;padding-top:15px;") 
			span Your Presentations
			button.btn.btn-default.pull-right(style="margin-top:-6px;")
				span Create New 
				span.glyphicon.glyphicon-plus
		.panel-body
			table.table.table-bordered
				tr 
					th Name
					th Present
					th Edit
					th Delete
				if pdfs
					each pdf in pdfs
						tr
							td pdf.title
							td
								a(href="/presentation/pdf.id/present")
								span.glyphicon.glyphicon-star-empty
							td
								a(href="/presentation/pdf.id/edit")
									span.glyphicon.glyphicon-pencil
							td
								a(href="/presentation/pdf.id/delete")
									span.glyphicon.glyphicon-trash
				else
					tr
						td - 
						td - 
						td - 
						td - 
