extends layout

block content
	nav.navbar.navbar-default(role='navigation')
		div.navbar-header
			span.navbar-brand Project Blackhawk
		ul.nav.navbar-nav
			li
				a(href="/home") Presentations
			li
				a(href="/whiteboard", target="_blank") WhiteBoard
			li
				a(href="/settings") Settings
			li
				a(href="/logout") Logout
	.panel.panel-default
		.panel-heading(style="padding-bottom:15px;padding-top:15px;") 
			span Your Presentations
			button.btn.btn-default.pull-right(style="margin-top:-6px;")
				span Create New 
				span.glyphicon.glyphicon-plus
		.panel-body
			table.table.table-bordered
				tr 
					th Name
					th Present
					th Edit
					th Delete
				tr
					if !pdfs
						td -
						td -
						td -
						td -
					else
						each pdf in pdfs
							td pdf.title
							td
								a(href="/")
									span.glyphicon.glyphicon-star-empty
							td
								a(href="/")
									span.glyphicon.glyphicon-pencil
							td
								a(href="/")
									span.glyphicon.glyphicon-trash
