extends layout

block content
	script.
		$(document).ready(function() {
			$('#edit').on('show.bs.modal', function(e) {
				var button = $(e.relatedTarget);
				var id = button.data('id');

				var editForm = $('#edit-form');
				editForm[0].action = '/presentation/' + id + '/edit';
			});

			$('#delete').on('show.bs.modal', function(e) {
				var button = $(e.relatedTarget);
				var id = button.data('id');

				var deleteForm = $('#delete-form');
				deleteForm[0].action = '/presentation/' + id + '/delete';
			});
		});

	nav.navbar.navbar-default(role='navigation')
		div.navbar-header
			span.navbar-brand Project Blackhawk
		ul.nav.navbar-nav
			li
				a(href="/home") Presentations
			li
				a(href="/whiteboard", target="_blank") WhiteBoard
			li
				a(href="/settings") Settings
			li
				a(href="/logout") Logout
	.panel.panel-default
		.panel-heading(style="padding-bottom:15px;padding-top:15px;") 
			span Your Presentations
			button.btn.btn-default.pull-right(type='button', style="margin-top:-6px;", data-toggle='modal', data-target='#upload-modal')
				span Create New 
				span.glyphicon.glyphicon-plus
		.panel-body
			table.table.table-bordered
				tr 
					th Name
					th Present
					th Edit
					th Delete
				if pdfs
					each pdf in pdfs
						tr
							td #{pdf.title}
							td
								a(href="/presentation/" + pdf.id + "/present")
									button.btn.btn-primary.btn-sm(type='button')
										span.glyphicon.glyphicon-star-empty
							td
								button.btn.btn-primary.btn-sm(type='button', data-toggle='modal', data-target='#edit', data-id=pdf.id)
									span.glyphicon.glyphicon-pencil
							td
								button.btn.btn-primary.btn-sm(type='button', data-toggle='modal', data-target='#delete', data-id=pdf.id)
									span.glyphicon.glyphicon-trash
				else
					tr
						td - 
						td - 
						td - 
						td - 
	div#edit.modal.fade
		div.modal-dialog
			div.modal-content
				div.modal-header
					button.close(type="button", data-dismiss="modal", aria-label="Close")
						span(aria-hidden='true') &times;
					h4.modal-title Edit Presentation
				form(id='edit-form', method='POST', action='', enctype="multipart/form-data")
					div.modal-body
						div.form-group
							label(for='name') Name
							input#name.form-control(name='name', type='text', placeholder='Name')
						div.form-group
							label(for='pdf') PDF
							input#pdf.form-control(name='pdf', type='file', requried)
					div.modal-footer
						button.btn.btn-primary(type='submit') Save
	div#upload-modal.modal.fade
		div.modal-dialog
			div.modal-content
				div.modal-header
					button.close(type="button", data-dismiss="modal", aria-label="Close")
						span(aria-hidden='true') &times;
					h4.modal-title Add New Presentation
				form(id='edit-form', method='POST', action='/presentation/uploadPdf', enctype="multipart/form-data")
					div.modal-body
						div.form-group
							label(for='name') Name
							input#name.form-control(name='name', type='text', placeholder='Name')
						div.form-group
							label(for='pdf') PDF
							input#pdf.form-control(name='pdf', type='file', requried)
					div.modal-footer
						button.btn.btn-primary(type='submit') Save
	div#delete.modal.fade
		div.modal-dialog
			div.modal-content
				div.modal-header
					button.close(type="button", data-dismiss="modal", aria-label="Close")
						span(aria-hidden='true') &times;         
					h4.modal-title Are you sure you want to delete?
				div.modal-footer
					form(id='delete-form', method='POST', action='', enctype="multipart/form-data")
						button.btn.btn-default(data-dismiss='modal') No
						button.btn.btn-primary(type='submit') Yes
