extends layout

block content
	nav.navbar.navbar-default(role='navigation')
		div.navbar-header
			span.navbar-brand Project Blackhawk
		ul.nav.navbar-nav
			li
				a(href="/login") Log in
			li
				a(href="/signup") Sign up
	.panel.panel-default
		.panel-heading We Are Team Redwings
		.panel-body Building project BlackHawk, which is designed to start presenting a better world.
