doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(href="/stylesheets/bootstrap-3.3.4-dist/css/bootstrap.min.css" rel="stylesheet")
		script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
		script(type="text/javascript", src="/stylesheets/bootstrap-3.3.4-dist/js/bootstrap.min.js")
	body
		block content
