doctype html
html
  head
	title= title
	link(rel='stylesheet', href='/stylesheets/style.css')
	meta(name="viewport", content="width=device-width, initial-scale=1")
	link(href="bootstrap-3.3.2-dist/css/bootstrap.min.css" rel="stylesheet")
	link(href="bootstrap-3.3.2-dist/css/bootstrap-theme.min.css" rel="stylesheet")
	link(href="bootstrap-3.3.2-dist/css/theme.css" rel="stylesheet")

	link(href="styles.css" rel="stylesheet")
  body
    block content
