doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(href="/stylesheets/bootstrap-3.3.4-dist/css/bootstrap.min.css" rel="stylesheet")
		link(href="/stylesheets/styles.css" rel="stylesheet")
	body
		block content
