doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(href="/stylesheets/bootstrap-3.3.4-dist/css/bootstrap.min.css", rel="stylesheet")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
		script(src="/javascripts/pdfjs/shared/util.js")
		script(src="/javascripts/pdfjs/display/api.js")
		script(src="/javascripts/pdfjs/display/metadata.js")
		script(src="/javascripts/pdfjs/display/canvas.js")
		script(src="/javascripts/pdfjs/display/webgl.js")
		script(src="/javascripts/pdfjs/display/pattern_helper.js")
		script(src="/javascripts/pdfjs/display/font_loader.js")
		script(src="/javascripts/pdfjs/display/annotation_helper.js")
		script.
			PDFJS.workerSrc = '/javascripts/pdfjs/worker_loader.js';
		script(src='/socket.io/socket.io.js')
		script(src='/javascripts/presentation/socket.js')
		script(src="/javascripts/presentation/present.js")
		script.
			present("#{id}");

	body
		button(id="prev_page") Previous
		button(id="next_page") Next
		button(id="full_screen") Full Screen
		canvas(id="the-canvas", style="border:1px solid black;", allowfullscreen, webkitallowfullscreen)

