extends layout

block content
	nav.navbar.navbar-default(role="navigation")
		div.navbar-header
			span.navbar-brand Project Blackhawk
		ul.nav.navbar-nav
			li
				a(href="/home") Presentations
			li
				a(href="/whiteboard", target="_blank") WhiteBoard
			li
				a(href="/settings") Settings
			li
				a(href="/logout") Logout
	.panel.panel-default
		.panel-heading Settings
		.panel-body
			form(method='POST')
				if user	
					div.form-group
						label(for='inputEmail') Email Address
						input#inputEmail.form-control(name='email', type='email', placeholder=user.email, required)
					div.form-group
						label(for='name') Name
						input#name.form-control(name='name', type='text', placeholder=user.name, required)
				else	
					div.form-group
						label(for='inputEmail') Email Address
						input#inputEmail.form-control(name='email', type='email', placeholder="-", required)
					div.form-group
						label(for='name') Name
						input#name.form-control(name='name', type='text', placeholder="-", required)
				div.form-group
					label(for='inputPassword') New Password
					input#inputPassword.form-control(name='password', type='password', placeholder='New Password', required)
				div.form-group
					label(for='confirmPassword') Confirm New Password
					input#confirmPassword.form-control(name='confirmPassword', type='password', placeholder='Confirm New Password', required)
				button.btn.btn-primary(type='submit') Submit
				if messages.info
					div.alert.alert-danger= messages.info

