extends layout

block content

        form.for-signin
                h2.form-signin-heading Sign Up

                        label.sr-only(for='firstName') First Name
                        input#firstName.form-control(type='firstName', placeholder="First Name', required='')

                        label.sr-only(for='lastName') Last Name
                        input#lastName.form-control(type='lastName', placeholder="Last Name', required='')

                        label.sr-only(for='userName') User Name
                        input#userName.form-control(type='userName', placeholder="User Name', required='')

                        laabel.sr-only(for="inputEmail") Email Address
                        label#inputEmail.form-control(type='email', placeholder='Email Adress', required'', autofocus='')

                        label.sr-only(for='inputPassword') Password
                        input#inputPassword.form-control(type='password', placeholder="Password', required='')

                        label.sr-only(for='confirmtPassword') Confirm Password
                        input#confirmPassword.form-control(type='password', placeholder="Password', required='')

                        button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign Up

