extends layout

block content
	form(method='POST', enctype="multipart/form-data")
		h2 New Presentation
		div.form-group
			label(for='name') Name
			input#name.form-control(name='name', type='text', placeholder='Name', required)
		div.form-group
			label(for='pdf') PDF
			input#pdf.form-control(name='pdf', type='file', required)
		button.btn.btn-primary(type='submit') Upload
		if messages.info
			div.alert.alert-danger= messages.info
