extends layout

block content
	div.btn-group-horizontal(role='group')
		button.btn.btn-default(onclick="javascript:pen()")
			span.glyphicon.glyphicon-pencil
		button.btn.btn-default(onclick="javascript:erase()")
			span.glyphicon.glyphicon-erase
		button.btn.btn-default(onclick="javascript:emitClearAll()")
			span.glyphicon.glyphicon-trash
		button.btn.btn-default(onclick="javascript:emitUndo()")
			span.glyphicon.glyphicon-arrow-left
	canvas(id='draw', resize='true', style='border: 1px solid black; width:100%; height:100%;')
	script(type='text/javascript', src='/javascripts/paper.js')
	script(type='text/paperscript', src='/javascripts/whiteboard/draw.js', canvas='draw')
	script(src='/socket.io/socket.io.js')
	script(src='/javascripts/whiteboard/socket.js')
